@import "../vendor/bourbon/dist/bourbon";
@import "../vendor/neat/app/assets/stylesheets/neat";
@import "variables";

body {
	.wrap-main {
		margin-top: 4.5em;
	}
	
	.main {
		@include span-columns(7);
		@include pad(0);
	}

	.sidebar {
		@include span-columns(4); 
		@include shift(1);
		@include pad(0);
		margin-right: 0;
	}

	.navbar {
		.navbar-toggle {
			display: none;
		}

		&.navbar-main {
			.nav {
				a {
					font-size: 1.875em;
				}
			}
		}
		
		&.navbar-secondary {
			background: lighten(#000, 93%);

			@include direction-context($direction: right-to-left) {
				nav {
					@include span-columns(8);
				}
			}

			.nav {
				a {
					font-size: 1.125em;
					line-height: 2em;
					padding: 0 0.8em;
				}

				li {
					> .dropdown-menu {
						display: none;
						position: absolute;
						top: 100%;
						left: 0.4em;
						margin: 0;
						padding: 0;
						width: auto;
						background: lighten(#000, 93%);
						transition: all 0.15s ease-in;

						li {
							display: block;
						}

						a {
							display: block;
							white-space: nowrap;
							font-size: 1em;
							border-top: 1px solid rgba(255,255,255,0.3);
						}
					}
				}
			}
		}
	}

	.widget_peds_staff_widget {
		img {
			width: 6.25em;
		}
	}

	header {
		&.banner-top {
			.navbar-brand {
				width: em(121px);
				height: em(80px);
				background-image: url(../img/logo-full.png);
			}
		}
	}
}