@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700,400|Roboto+Slab:300,700,400);
@import "../vendor/bourbon/dist/bourbon";

//@import "settings/neat";
$visual-grid: false;
$visual-grid-color: cyan;
$visual-grid-index: front;
$visual-grid-opacity: 0.15;

@import "../vendor/neat/app/assets/stylesheets/neat";

@import "variables";
@import "shadows";
@import "typography";

a {
	color: $color-primary;
	text-decoration: none;
	transition: color 0.15s ease-out;
	&:hover {
		color: $color-primary-highlight;
	}
}

.container {
	@include outer-container;
}

.header-fixed {
	> .banner-top {
		top: 0;
		left: 0;
		right: 0;
		position: fixed;
		z-index: 50;
	}

	&.admin-bar {
		> .banner-top {
			margin-top: 32px !important;
		}
	}

	> .wrap:nth-of-type(1) {
		margin-top: em(96px*0.75);
		@include media($screen-sm-min) {
			margin-top: em(96px);
		}
	}
}

header.banner-top {

	.navbar-toggle {
		background: none;
		border: none;
		@include media($screen-sm-min) {
			display: none;
		}
	}

	&.navbar-fixed-top {
		//position: fixed;
		top: 0;
		left: 0;
		right: 0;
		//.admin-bar & { margin-top: 32px !important }

	}

	.navbar-brand {
		position: absolute;
		top: em(6px);
		display: block;
		overflow: hidden;
		width: em(121px*0.6);
		height: em(80px*0.6);
		white-space: nowrap;
		text-indent: 150%;
		background: url(../img/logo-full_2x.png) 0 0 no-repeat;
		background-size: contain;

		@include media($screen-sm-min) {
			width: em(121px);
			height: em(80px);
		}
	}

	.navbar-main {
		background: $color-primary;
		color: #FFF;
		//height: em(60px);
		position: relative;
		z-index: 2;
		@include shadow-z-1;

		.navbar-toggle {
			display: none;
		}
	}

}

.navbar {
	.nav { 
		float: right; 
		font-family: $header-font;
		font-weight: 100;

		&, li {
			margin: 0;
			padding: 0;
			list-style-type: none;
			font-size: 0;
		}

		li {
			font-size: 16px;
			display: inline-block;
			position: relative;
			z-index: 1;

			@include media($screen-sm-min) {
				> .dropdown-menu {
					display: none;
					position: absolute;
					top: 100%;
					left: 0.4em;
					margin: 0;
					padding: 0;
					width: auto;
					background: lighten(#000, 93%);
					transition: all 0.15s ease-in;
					@include shadow-z-1;

					li {
						display: block;
					}

					a {
						display: block;
						white-space: nowrap;
						font-size: 1em;
						border-top: 1px solid rgba(#FFF, 0.3);
					}
				}


				&:hover {
					> .dropdown-menu {
						display: block;
					}
				}
			}
		}
	}

	.navbar-header { 
		@include span-columns(3);
		@include media($screen-sm-min) {
			@include span-columns(4);
		}
	}
	nav {
		@include media($screen-sm-min) {
			@include span-columns(8);
		}
	}

	&.navbar-main {
		@include direction-context($direction: right-to-left) {
			nav {
				@include span-columns(9);
				@include media($screen-sm-min) {
					@include span-columns(8);
				}
			}
		}
		
		.nav {
			a {
				font-size: em(16px);
				padding: 0 0.4em;
				line-height: 2em;
				display: block;
				color: #FFF;
				transition: all 0.15s ease-out;

				@include media($screen-sm-min) {
					font-size: em(30px);	
					padding: 0 0.8em;
				}

				&:hover {
					background: $color-primary-highlight;
				}
			}
		}
	}

	&.navbar-secondary {
		position: relative;
		z-index: 1;
		@include media($screen-sm-min) {
			background: lighten(#000, 93%);
			@include shadow-z-1;
		}

		@include direction-context($direction: right-to-left) {
			nav {
				@include media($screen-sm-min) {
					@include span-columns(8);
				}
			}
		}

		.nav {
			a {
				display: block;
				line-height: 1.25em;
				padding: 0.4em 0.8em;
				transition: all 0.15s ease-out;

				@include media($screen-sm-min) {
					font-size: em(18px);
					line-height: 2em;
					padding: 0 0.8em;
				}

				&:hover {
					background: rgba(#FFF, 0.5);
				}
			}

			@include media(max-width $screen-sm) {
				background: rgba(#FFF, 0.95);
				@include shadow-z-1;

				li {
					display: block;
				}

				.dropdown-menu {
					padding-left: 2em;
				}
			}
		}

		.navbar-toggle {
			.sr-only {
				display: none;
			}
		}

		@include media(max-width $screen-sm) {
			.navbar-toggle {
				font-size: 1em;
				width: 2em;
				height: 2em;
				padding: 0;
				display: block;
				position: absolute;
				top: 0;
				left: -2em;
				background: rgba(#FFF, 0.8);

				&:hover {
					background: rgba(#FFF,1);
				}
			}

			.container {
				position: absolute;
				top: 0;
				left: 100%;
				padding-left: 2em;
				@include transition(all 0.15s ease-out);
			}

			&.collapse.in {
				.container {
					left: 35%;
				}
				.navbar-toggle {
					left: 0;
				}
			}
		}
	}
}

.row {
	@include row;
}

.main { 
	@include span-columns(12);
	@include pad;

	@include media($screen-sm-min) {
       @include span-columns(7);
       @include pad(0);
     }
}
.sidebar { 
	@include span-columns(12);
	@include pad;

	@include media($screen-sm-min) {
		@include span-columns(4); 
		@include shift(1); 
		@include pad(0);
	}

	margin-top: em($font-size-base); 

	.widget-button {

	}

	.widget-button {
		display: block;
		line-height: 1.75em;
		padding: 0 0.75em;
		margin: em(16px);
		background: $color-primary;
		color: #FFF;
		text-align: center;
		font-family: $header-font;
		font-weight: 100;
		font-size: 1.75em;
		transition: all 0.1s ease-in;
		@include shadow-z-1;

		&:hover {
			background: $color-primary-highlight;
			@include shadow-z-2;
		}

		.fa {
			margin-right: 0.25em;
		}

		&.widget-button-brown {
			background: $color-secondary;

			&:hover {
				background: lighten($color-secondary, 5%);
			}
		}

		&.widget-button-red {
			background: $color-highlight;

			&:hover {
				background: lighten($color-highlight, 5%);
			}
		}
	}
}

footer.content-info {
	background: $color-secondary;
	color: #FFF;
	font-family: $header-font;
	font-weight: 100;
	text-align: center;
	@include row;
	@include shadow-z-2;

	.copyright {
		line-height: 2.5em;
		padding: em(12px) 0;
		@include media($screen-sm-min) {
			text-align: left;
			@include span-columns(3);
		}
	}

	.footer-locations {
		line-height: 1.25em;
		padding: em(12px) 0;
		@include media($screen-sm-min) {
			text-align: right;
			@include span-columns(9);
		}
	}

	em {
		font-style: normal;
		font-weight: 300;
	}
}

.post-type-archive {
	.wrap-main {
		&:before {
			content: "";
			display: block;
			z-index: 1;
			width: 100%;
			height: em(270px);
			background-size: cover;
			@include shadow-z-1;
		}

		.page-header {
			h1 {
				color: #FFF;
				$bg-color: #000;
				background: linear-gradient(to right, rgba($bg-color,0) 0%, rgba($bg-color,0.7) 1.5em, rgba($bg-color,0.7) 50%, rgba($bg-color,0) 100%);
				line-height: 1em;
				padding: 0.5em 2em;
				margin: -2em 0 0 -2em;

				&:before {
					display:inline-block;
					font:normal normal normal 14px/1 FontAwesome;
					font-size:inherit;
					text-rendering:auto;
					-webkit-font-smoothing:antialiased;
					-moz-osx-font-smoothing:grayscale;
				}
			}
		}
	}

	&.post-type-archive-service {
		.wrap-main {
			&:before {
				background: url(../img/bg-service.jpg) 100% 35% no-repeat;
				@include media(max-width $screen-sm) { background-size: cover; }
			}
			.page-header {
				h1 {
					&:before {
						content: "\f0f1"; // Medkit
					}
				}
			}
		}
	}
	&.post-type-archive-staff {
		.wrap-main {
			&:before {
				background: url(../img/bg-staff.jpg) 100% 50% no-repeat;
				@include media(max-width $screen-sm) { background-size: cover; }
			}
			.page-header {
				h1 {
					&:before {
						content: "\f0f0"; // Stethoscope
					}
				}
			}
		}
	}
	&.post-type-archive-location {
		.wrap-main {
			&:before {
				background: url(../img/bg-location.jpg) 100% 50% no-repeat;
				@include media(max-width $screen-sm) { background-size: cover; }
			}
			.page-header {
				h1 {
					&:before {
						content: "\f041"; // Map Marker
					}
				}
			}
		}
	}
}

.main-content {
	@include row;
}

/**
 * Archive styling
 */
.post-type-archive {
	/** 
	 * Staff
	 */
	.staff {
		@include span-columns(4);
		@include omega(3n);
		padding: 1em 0;
		text-align: center;

		header {
			a {
				img {
					box-shadow: none;
					transition: all 0.1s ease-in;
				}

				&:hover {
					img {
						@include shadow-z-1;
					}
				}
			}

			h2 {
				font-family: $primary-font;
				font-weight: 400;
				color: $color-primary;
				font-size: em(18px);
				margin: 0.5em 0;
			}

			.byline {
				margin: 0;
				font-family: $header-font;
				font-weight: 300;
				line-height: 1.1;
			}
		}
	}

	/**
	 * Locations
	 */
	.location {
		margin-top: 1em;
		margin-bottom: 1em;
		@include span-columns(6);

		header {
			a {
				display: block;
				overflow: hidden;
				transition: all 0.15s ease-out;
				@include shadow-z-1;

				h2 {
					color: $color-primary;
					transition: all 0.15s ease-out;
					margin: 0.5em;
					font-size: em(24px);
				}

				&:hover {
					@include shadow-z-2;
					h2 {
						color: $color-primary-highlight;
					}
				}
			}
			img {
				display: block;
				width: 100%;
				height: auto;
				// @include shadow-z-1;
			}
			
		}
	}
}

/**
 * Article styling
 */
article {
	header, .row {
		// @include row;
	}

	.entry-content {
	}

	&.location {
		header {
			.featured-image {
				position: relative;
				z-index: -1;

				img {
					display: block;
					width: 100%;
				}

				&:after {
					content: "";
					display: block;
					position: absolute;
					z-index: 1;
					top: 66%;
					right: 0;
					left: 0;
					bottom: 0;
					background: linear-gradient(rgba(#FFF,0) 0%, rgba(#FFF, 1) 100%);
				}
			}

			h1 {
				margin-top: -0.5em;

			}
		}
	}
}
.byline {
	font-family: $header-font;
	font-weight: 300;
	color: $color-gray-500;
	font-size: em(18px);
	margin-top: -0.5em;
}

/**
 * Image styles
 */
.align-right {
	float: right;
	margin: 1em 0 1em 1em;
}

.align-left {
	float: left;
	margin: 1em 1em 1em 0;
}

img {
	max-width: 100%;
	height: auto;

	&.circle {
		border-radius: 50%;
	}
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
	img {
		max-width: none;
	}
}

.widget_peds_staff_widget {
	img {
		transition: all 0.15s ease-out;

		max-width: em(100px);
		&.align-left {
			@include media($screen-sm-min) {
				margin-left: em(-50px);
			}
		}
	}
	h3 {
		transition: all 0.15s ease-out;
	}

	a {
		&:hover {
			h4 {
				color: $color-primary;
			}
			img {
				@include shadow-z-2;
			}
		}	
	}

	.byline {
		font-size: em(15px);
	}

	p {
		font-size: em(14px);
	}
}

/**
 * Master Slide styling
 */
.ms-slide-info {
	top: 0;
	bottom: 0;
	@include media(max-width $screen-sm) {
		left: 0 !important;
		right: 0 !important;
		width: auto !important;
		top: 20% !important;
		bottom: 0 !important;
	}
}

.ms-info {
	position: absolute !important;
	top: 0;
	bottom: 0;
	font-family: $header-font;
	font-weight: 100;
	text-align: center;
	color: #FFF;
	font-size: 2em;
	padding: 1em;
	background: rgba(#000, 0.47);

	@include media(max-width $screen-sm) {
		font-size: 1.25em;
		padding: 0.25em;
	}

	> .fa {
		margin: 0.5em;
		font-size: 1.5em;
	}

	a {
		color: #FFF;
	}
}

.wpfilebase-file-default {
	width: auto;
	height: auto;
	padding: em(16px);
	background: $color-gray-100;
	border: none;
	margin: em(24px) 0;
	@include shadow-z-1;
	transition: all 0.15s ease-out;

	&:hover {
		@include shadow-z-2;
		background: $color-gray-50;
	}

	.icon, .info, .details {
		display: none;
	}

	.filetitle {
		float: none;
		width: auto;
		height: auto;
		margin: 0;
		padding: 0;

		a {
			font-size: em(24px);
			line-height: 1.25;
		}
	}
}
